<div class="container-fluid">
  <div class="row">
    <div class="header">
      <span class="header-text">Dashboard</span>
    </div>
  </div>
  <div class="row cards bg-gray">
    <div class="row center-items" style="width: 100%;">
      <div class="col-xl-12 col-lg-9 col-md-8 ml-auto">
        <div class="row mt-md-3 pt-md-5 mb-3">
          <div class="col-xl-3 col-sm-6 p-2">
            <div class="card card-style">
              <div class="card-body ">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-dollar-sign fa-4x text-warning"></i>
                  <div class="text-right">
                    <h3>Revenue</h3>
                    <h1>$120,000</h1>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <i class="fas fa-sync mr-3" style="margin-right: 1rem;"></i>
                <span>Updated Now</span>
              </div>
            </div>

          </div>
          <div class="col-xl-3 col-sm-6 p-2">
            <div class="card card-style">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-money-bill-alt fa-4x text-success"></i>
                  <div class="text-right">
                    <h3>Expenses</h3>
                    <h1>$80,000</h1>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <i class="fas fa-sync mr-3" style="margin-right: 1rem;"></i>
                <span>Updated Now</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 p-2">
            <div class="card card-style">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-users fa-4x text-primary"></i>
                  <div class="text-right">
                    <h3>Members</h3>
                    <h1>1500</h1>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <i class="fas fa-sync mr-3" style="margin-right: 1rem;"></i>
                <span>Updated Now</span>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-sm-6 p-2">
            <div class="card card-style">
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <i class="fas fa-dumbbell fa-4x text-danger"></i>
                  <div class="text-right">
                    <h3>Trainers</h3>
                    <h1>200</h1>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <i class="fas fa-sync mr-3" style="margin-right: 1rem;"></i>
                <span>Updated Now</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-gray center-items">
    <div class="charts col-12">
      <div class="attendance-report-chart col-6 card card-style">
        <canvasjs-chart [options]="attendanceReportChart"
          [styles]="{height:'calc(60vh - 50px - 120px)'}"></canvasjs-chart>
      </div>
      <div class="total-reports-chart col-6 card card-style">
        <canvasjs-chart [options]="totalReportsChart" [styles]="{height:'calc(60vh - 50px - 120px)'}"></canvasjs-chart>
      </div>
    </div>
  </div>
</div>