<div class="container-fluid">
  
  <div class="row">
    <div class="header">
      <div>
        <i class="fa fa-users bar-icon" aria-hidden="true"></i>
        <span class="header-text">Add Membership</span>
      </div>
      <button class="header-button" routerLink="/membership-list">
        <i class="fa fa-bars bar_icon" aria-hidden="true"></i>
        Membership List
      </button>
    </div>
  </div>

  <div class="row">
    <div class="membership-list">
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership Name</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <input class="form-input-field" type="text" name="" id="" [(ngModel)]="newMembership.name">
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership Category</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <select class="form-input-field" aria-label="Default select example" [(ngModel)]="newCategory.name">
            <option value="" disabled selected>Select Category</option>
            <option *ngFor="let category of (categories$ | async)" [value]="category.name">{{ category.name }}</option>
          </select>
        </div>
        <div class="form-button col-3">
          <button class="btn button" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add Category</button>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership Period</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <span class=""
            style="width: 15%; border: 1px solid; background-color: lightgrey; font-weight: 500; display: flex; justify-content: center;"
            id="days">No. of Days</span>
          <input type="text" class="form-input-field" style="width: 85%;" aria-describedby="days"
            [(ngModel)]="newMembership.period">
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership Limit</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <div class="form-input-radio" style="width: 15vw;">
            <!-- Limited Option -->
            <input class="" type="radio" name="memberRatio" id="limited" value="Limited"
              [(ngModel)]="newMembership.limit_type">
            <label class="form-check-label" for="limited">Limited</label>

            <!-- Unlimited Option -->
            <input class="" type="radio" name="memberRatio" id="unlimited" value="Unlimited"
              [(ngModel)]="newMembership.limit_type">
            <label class="form-check-label" for="unlimited">Unlimited</label>
          </div>

          <input type="text" class="form-input-field" style="width: 14vw; margin-right: 1vw;"
            [(ngModel)]="newMembership.noOfDays" [disabled]="newMembership.limit_type === 'Unlimited'">
          <select class="form-input-field" aria-label="Default select example" style="width: 30vw;"
            [disabled]="newMembership.limit_type === 'Unlimited'">
            <option selected>Select Category</option>
            <option value="1">Class per Week</option>
            <option value="2">Class per Month</option>
          </select>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership Amount</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <span class=""
            style="width: 2vw; border: 1px solid; background-color: lightgrey; font-weight: 500; display: flex; justify-content: center;"
            id="days">$</span>
          <input type="text" class="form-input-field" style="width: 58vw;" aria-describedby="days"
            [(ngModel)]="newMembership.amount">
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Select Class</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <select class="form-input-field" aria-label="Default select example"
            [(ngModel)]="newMembership.selected_class">
            <option selected>Select Class</option>
            <option value="Yoga">Yoga</option>
            <option value="Pilates">Pilates</option>
          </select>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Installment Plan</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <input type="text" class="form-input-field" style="width: 10vw; margin-right: 13vw;"
            [(ngModel)]="newInstallmentPlan.duration_number">
          <select class="form-input-field" aria-label="Default select example" style="width: 35vw;"
            [(ngModel)]="newInstallmentPlan.duration_type">
            <option value="" disabled selected>Select Duration</option>
            <option *ngFor="let installmentPlan of (installmentPlans$ | async)" [value]="installmentPlan.duration_type">
              {{ installmentPlan.duration_number }} {{ installmentPlan.duration_type }}</option>
          </select>
        </div>
        <div class="form-button col-3">
          <button class="btn button" data-bs-toggle="modal" data-bs-target="#addInstallmentPlanModal">Add installment
            plan</button>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Signup Fee</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <span class=""
            style="width: 2vw; border: 1px solid; background-color: lightgrey; font-weight: 500; display: flex; justify-content: center;"
            id="days">$</span>
          <input type="text" class="form-input-field" style="width: 58vw;" aria-describedby="days"
            [(ngModel)]="newMembership.signup_fee">
        </div>
      </div>
      <div class="row form-row" style="height: 200px; align-items: flex-start;">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership Description</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <textarea type="text" class="form-input-field" style="height: 200px;"
            [(ngModel)]="newMembership.description"></textarea>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership Image</span>
          </div>
        </div>
        <div class="form-input">
          <input class="form-input-field" type="file" id="formFile" (change)="onFileSelected($event)">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="measurement-units">
      <div class="footer">
        <button class="footer-button" (click)="onSave()">Save Membership</button>
        <button class="footer-button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>


  <!-- Add Category Modal -->
  <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add/Remove Category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-subheader">
          <input type="text" class="modal-input-field" [(ngModel)]="newCategory.name" placeholder="Enter Category Name">
          <button type="button" class="modal-btn" (click)="addCategory()">Add Category</button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="categories$ | async as categories">
              <tr *ngFor="let category of categories">
                <td>{{ category.name }}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Installment Plan Modal -->
  <div class="modal fade" id="addInstallmentPlanModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add/Remove Installment Plan</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-subheader">
          <input type="text" class="modal-input-field" [(ngModel)]="newInstallmentPlan.duration_number"
            placeholder="Enter Duration Number">
          <select class="modal-input-field" [(ngModel)]="newInstallmentPlan.duration_type"
            aria-label="Default select example" style="width: 35vw;">
            <option value="">Select Duration</option>
            <option value="Days">Day</option>
            <option value="Weeks">Week</option>
            <option value="Months">Month</option>
            <option value="Years">Year</option>
          </select>
          <button type="button" class="modal-btn" (click)="addInstallmentPlan()">Add Installment Plan</button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Plan</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="installmentPlans$ | async as installmentPlans">
              <tr *ngFor="let plan of installmentPlans">
                <td>{{ plan.duration_number }} {{ plan.duration_type }}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteInstallmentPlan(plan.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>  