<div class="container-fluid">
  <div class="row">
    <div class="header">
      <div>
        <i class="fa fa-bars bar-icon" aria-hidden="true"></i>
        <span class="header-text">Membership List</span>
      </div>
      <button class="header-button" routerLink="/add-membership">
        <i class="fa fa-plus bar_icon" aria-hidden="true"></i>
        Membership
      </button>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Membership Name</th>
          <th scope="col">Membership Period</th>
          <th scope="col">Installment Plan</th>
          <th scope="col">Signup Fee</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="(memberships$ | async) as memberships; else loading">
        <tr *ngFor=" let membership of memberships">
          <th scope="row">
            <i [class]="membership.icon" class="icon-style" aria-hidden="true"></i>
          </th>

          <!-- Membership Name -->
          <td *ngIf="!membership.editMode">{{ membership.name }}</td>
          <td *ngIf="membership.editMode">
            <input type="text" [(ngModel)]="membership.name" class="form-control">
          </td>

          <!-- Membership Period -->
          <td *ngIf="!membership.editMode">{{ membership.period }}</td>
          <td *ngIf="membership.editMode">
            <input type="number" [(ngModel)]="membership.period" class="form-control">
          </td>

          <!-- Installment Plan -->
          <td *ngIf="!membership.editMode">{{ getInstallmentPlanData(membership.installment_plan) }}</td>
          <td *ngIf="membership.editMode">
            <input type="text" [(ngModel)]="membership.installment_plan" class="form-control">
          </td>

          <!-- Signup Fee -->
          <td *ngIf="!membership.editMode">{{ membership.signup_fee }}</td>
          <td *ngIf="membership.editMode">
            <input type="text" [(ngModel)]="membership.signup_fee" class="form-control">
          </td>

          <!-- Action Buttons -->
          <td>
            <button *ngIf="!membership.editMode" (click)="editMembership(membership)"
              style="margin-right: 5px; background-color: lightblue; color: white; border-color: transparent;">
              <i class="fa fa-pen-to-square"></i>
            </button>
            <button *ngIf="membership.editMode" (click)="saveMembership(membership.id, membership)"
              style="margin-right: 5px; background-color: lightgreen; color: white; border-color: transparent;">
              <i class="fa fa-check"></i>
            </button>
            <button *ngIf="membership.editMode" (click)="cancelEdit(membership)"
              style="margin-right: 5px; background-color: gold; color: white; border-color: transparent;">
              <i class="fa fa-times"></i>
            </button>
            <button (click)="deleteMembership(membership)"
              style="margin-right: 5px; background-color: lightcoral; color: white; border-color: transparent;">
              <i class="fa fa-trash-can" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Loading indicator (if members are not yet loaded) -->
  <ng-template #loading>
    <p>Loading members...</p>
  </ng-template>
</div>