<div class="container-fluid">
  <div class="row">
    <div class="header">
      <span class="header-text">Settings</span>
    </div>
  </div>
  <div class="row">
    <div class="system-setttings">
      <div class="section-title">
        <span>System Settings</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Gym Name</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Starting Year</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Gym Address</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Office Phone Number</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Country</span>
          </div>
          <select class="input-field" aria-label="Default select example">
            <option selected>Larnaka</option>
            <option value="1">Nicosia</option>
            <option value="2">Limassol</option>
            <option value="3">Pafos</option>
          </select>
        </div>
        <div class="field">
          <div class="field-title">
            <span>System Language</span>
          </div>
          <select class="input-field" aria-label="Default select example">
            <option selected>English</option>
            <option value="1">Greek</option>
            <option value="2">Russian</option>
            <option value="3">Arabic</option>
          </select>
        </div>
        <div class="field">
          <div class="field-title">
            <span>Email</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Gym Logo</span>
          </div>
          <input class="input-field" type="file" id="formFile">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Cover Image</span>
          </div>
          <input class="input-field" type="file" id="formFile">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="measurement-units">
      <div class="section-title">
        <span>Measurement Units</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Weight</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Height</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Chest</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Waist</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Arms</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Fat</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="measurement-units">
      <div class="section-title">
        <span>Member Privacy Settings</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Member can view other member's details</span>
          </div>
          <div class="input-field-container">
            <input class="checkbox" type="checkbox" name="" id="">
          </div>
        </div>
        <div class="field">
          <div class="field-title">
            <span>Staff Member can view own trainee member's details</span>
          </div>
          <div class="input-field-container">
            <input class="checkbox" type="checkbox" name="" id="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="measurement-units">
      <div class="section-title">
        <span>Membership Alert Message Settings</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Enable Alert Email</span>
          </div>
          <div class="input-field-container">
            <input class="checkbox" type="checkbox" name="" id="">
          </div>
        </div>
        <div class="field">
          <div class="field-title">
            <span>Reminder Before Days</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Reminder Message</span>
          </div>
          <textarea class="input-field" rows="5"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="measurement-units">
      <div class="section-title">
        <span>Message Settings</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Members can message each other</span>
          </div>
          <div class="input-field-container">
            <input class="checkbox" type="checkbox" name="" id="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="measurement-units">
      <div class="section-title">
        <span>Header & Footer Text</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Left Header Text</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Footer Text</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="measurement-units">
      <div class="footer">
        <button class="footer-button">Save Settings</button>
        <button class="footer-button">Cancel</button>
      </div>
  </div>
</div>