<div class="container-fluid">
  <div class="row">
    <div class="header">
      <span class="header-text">Settings</span>
    </div>
  </div>
  <div class="row">
    <div class="system-setttings">
      <div class="section-title">
        <span>System Settings</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Gym Name</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Starting Year</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Gym Address</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Office Phone Number</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Country</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <select class="input-field" aria-label="Default select example">
            <option selected>Larnaka</option>
            <option value="1">Nicosia</option>
            <option value="2">Limassol</option>
            <option value="3">Pafos</option>
          </select>
        </div>
        <div class="field">
          <div class="field-title">
            <span>System Language</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <select class="input-field" aria-label="Default select example">
            <option selected>English</option>
            <option value="1">Greek</option>
            <option value="2">Russian</option>
            <option value="3">Arabic</option>
          </select>
        </div>
        <div class="field">
          <div class="field-title">
            <span>Email</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Gym Logo</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="file" id="formFile">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Cover Image</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="file" id="formFile">
        </div>
      </div>
    </div>
  </div>
</div>