.header {
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
  border-bottom: 2px solid;
  border-color: lightgrey;
}

.header-text {
	font-size: 25px;
	margin-left: 20px;
}

.section-title {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  font-size: larger;
  border-bottom: 2px solid;
  border-color: lightgray;
  border-top-color: lightgray;
  box-shadow: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.field-title {
  width: 200px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.input-field {
  width: 60vw;
  border-color: lightgray;
  border-width: 1px;
  margin-left: 30px;
  border-style: solid;
}