<div class="container-fluid">
  <div class="row">
    <div class="header">
      <div>
        <i class="fa fa-bars bar-icon" aria-hidden="true"></i>
        <span class="header-text">Membership List</span>
      </div>
      <button class="header-button" routerLink="/add-membership">
        <i class="fa fa-plus bar_icon" aria-hidden="true"></i>
        Membership
      </button>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Membership Name</th>
          <th scope="col">Membership Period</th>
          <th scope="col">Installment Plan</th>
          <th scope="col">Signup Fee</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 40px;">
          <th scope="row"><i class="fa fa-trophy icon-style" aria-hidden="true"></i></th>
          <td>Gold Membership</td>
          <td>300</td>
          <td>1 month</td>
          <td>$5</td>
          <td>
            <button style="margin-right: 5px; background-color: lightblue; color: white; border-color: transparent;"><i class="fa fa-pen-to-square" aria-hidden="true"></i></button>
            <button style="margin-right: 5px; background-color: lightcoral; color: white; border-color: transparent;"><i class="fa fa-trash-can" aria-hidden="true"></i></button>
            <button style="background-color: lightseagreen; color: white; border-color: transparent;">Activities</button>
          </td>
        </tr>
        <tr style="height: 40px;">
          <th scope="row"><i class="fa fa-handshake icon-style" aria-hidden="true"></i></th>
          <td>Platinum Membership</td>
          <td>360</td>
          <td>1 month</td>
          <td>$5</td>
          <td>
            <button style="margin-right: 5px; background-color: lightblue; color: white; border-color: transparent;"><i class="fa fa-pen-to-square" aria-hidden="true"></i></button>
            <button style="margin-right: 5px; background-color: lightcoral; color: white; border-color: transparent;"><i class="fa fa-trash-can" aria-hidden="true"></i></button>
            <button style="background-color: lightseagreen; color: white; border-color: transparent;">Activities</button>
          </td>
        </tr>
        <tr style="height: 40px;">
          <th scope="row"><i class="fa fa-award icon-style" aria-hidden="true"></i></th>
          <td>Silver Membership</td>
          <td>180</td>
          <td>1 week</td>
          <td>$5</td>
          <td>
            <button style="margin-right: 5px; background-color: lightblue; color: white; border-color: transparent;"><i class="fa fa-pen-to-square" aria-hidden="true"></i></button>
            <button style="margin-right: 5px; background-color: lightcoral; color: white; border-color: transparent;"><i class="fa fa-trash-can" aria-hidden="true"></i></button>
            <button style="background-color: lightseagreen; color: white; border-color: transparent;">Activities</button>
          </td>
        </tr>
        <tr style="height: 40px;">
          <th scope="row"><i class="fa fa-users icon-style" aria-hidden="true"></i></th>
          <td>Regular Membership</td>
          <td>100</td>
          <td>1 week</td>
          <td>$5</td>
          <td>
            <button style="margin-right: 5px; background-color: lightblue; color: white; border-color: transparent;"><i class="fa fa-pen-to-square" aria-hidden="true"></i></button>
            <button style="margin-right: 5px; background-color: lightcoral; color: white; border-color: transparent;"><i class="fa fa-trash-can" aria-hidden="true"></i></button>
            <button style="background-color: lightseagreen; color: white; border-color: transparent;">Activities</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>