<div class="navbar__grub" [class.sidebar-active]="sidebarActive">
  <!-- Sidebar -->
  <div class="sidebar__navbar bg-dark" [class.active]="sidebarActive">
    <span (click)="toggleSidebar()"></span>
    <div *ngIf="sidebarActive" class="sidebar-gym-name">CODE GYM</div>
    <div class="px-3 position-relative">
      <ul class="sidebar__list--menu mt-5">
        <li class="sidebar-item">
          <a routerLink="/dashboard" routerLinkActive="active" [class.active]="isActive('dashboard')"
            (click)="setActive('dashboard')" class="sidebar-item">
            <i class="fa fa-chart-line mr-2" aria-hidden="true"></i>Dashboard
          </a>
        </li>
        <li>
          <a routerLink="/membership-list" routerLinkActive="active" [class.active]="isActive('membership')" (click)="setActive('membership')">
            <i class="fa fa-id-card" aria-hidden="true"></i>Membership List
          </a>
        </li>
        <li>
          <a routerLink="/members-list" routerLinkActive="active" [class.active]="isActive('members')"
            (click)="setActive('members')">
            <i class="fa fa-user mr-2" aria-hidden="true"></i>Members List
          </a>
        </li>
        <li>
          <a routerLink="/staff-list" routerLinkActive="active" [class.active]="isActive('staff')"
            (click)="setActive('staff')">
            <i class="fa fa-user-tie mr-2" aria-hidden="true"></i>Staff List
          </a>
        </li>
        <li>
          <a routerLink="/settings" routerLinkActive="active" [class.active]="isActive('settings')"
            (click)="setActive('settings')">
            <i class="fa fa-gear mr-2" aria-hidden="true"></i>Settings
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Sidebar Content -->
  <div class="sidebar__content">
    <nav class="navbar navbar-expand-md sidebar__side" style="height: 60px;">
      <div *ngIf="!sidebarActive" class="gym-name">CODE GYM</div>
      <a class="navbar__menu position-relative d-inline-block" (click)="toggleSidebar()">
        <i class="fa fa-bars bar_icon" aria-hidden="true"></i>
      </a>
      <div class="mid-title">
        <i class="fa fa-dumbbell" aria-hidden="true"></i>
        CODE GYM - GYM Management System
      </div>
      <div class="welcome">
        <span class="welcome-mgs">Welcome {{ userName }} </span>
        <div class="dropdown-left">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false" style="margin-left: 5px; background-color: transparent; border-color: transparent;">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="page__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>