<div class="container-fluid">
  <div class="row">
    <div class="header">
      <div>
        <i class="fa fa-user bar-icon" aria-hidden="true"></i>
        <span class="header-text">Members List</span>
      </div>
      <button class="header-button" routerLink="/add-member">
        <i class="fa fa-bars bar_icon" aria-hidden="true"></i>
        Members List
      </button>
    </div>
  </div>
  <div class="row">
    <div class="system-setttings">
      <div class="section-title">
        <span>Personal Information</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Member Id</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [disabled]="true">
        </div>
        <div class="field">
          <div class="field-title">
            <span>First Name</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Middle Name</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Last Name</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Gender</span>
          </div>
          <select class="input-field" aria-label="Default select example">
            <option selected>Male</option>
            <option value="1">Female</option>
          </select>
        </div>
        <div class="field">
          <div class="field-title">
            <span>Date of Birth</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Group</span>
          </div>
          <select class="input-field" aria-label="Default select example">
            <option selected>Bodybuilding</option>
            <option value="1">Aerobics</option>
            <option value="2">Yoga</option>
            <option value="3">Pilates</option>
            <option value="4">Boxing</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="contact-information">
      <div class="section-title">
        <span>Contact Information</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Address</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>City</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>State</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Zip Code</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Mobile Number</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Phone</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Email</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="physical-information">
      <div class="section-title">
        <span>Physical Information</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Weight</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Height</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Chest</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Waist</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Thighs</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Arms</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Fat</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="login-information">
      <div class="section-title">
        <span>Login Information</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Username</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Password</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="password" name="" id="">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Display Image</span>
          </div>
          <input class="input-field" type="file" id="formFile">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="measurement-units">
    <div class="footer">
      <button class="footer-button">Save Settings</button>
      <button class="footer-button">Cancel</button>
    </div>
  </div>
</div>