<div class="login-container">
    <form class="login">
        <i class="fa fa-dumbbell fa-3x" aria-hidden="true"></i>
        <h2>CODE GYM</h2>
        <input type="text" name="user" placeholder="User Name"  [(ngModel)]="loginObj.userName"/>
        <input type="password" name="pass" placeholder="Password" [(ngModel)]="loginObj.password" />
        <input type="submit" name="" value="Log In" (click)="onLogin()" />
        <div class="links">
            <a routerLink="/member-registration" style="color: #F44336;">Member Registration</a>
        </div>
    </form>
</div>