<div class="container-fluid">
  <div class="row">
    <div class="header">
      <div>
        <i class="fa fa-bars bar-icon" aria-hidden="true"></i>
        <span class="header-text">Members List</span>
      </div>
      <button class="header-button" routerLink="/add-member">
        <i class="fa fa-plus bar_icon" aria-hidden="true"></i>
        Add Member
      </button>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Member Name</th>
          <th scope="col">Member ID</th>
          <th scope="col">Joining Date</th>
          <th scope="col">Expire Date</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members" style="height: 40px;">
          <th scope="row"><i class="fa fa-user" aria-hidden="true"></i></th>
           <!-- Member Name -->
           <td *ngIf="!member.editMode">{{ member.name }}</td>
           <td *ngIf="member.editMode">
             <input type="text" [(ngModel)]="member.name" class="form-control">
           </td>
 
           <!-- Member Id -->
           <td *ngIf="!member.editMode">{{ member.id }}</td>
           <td *ngIf="member.editMode">
             <input type="text" [(ngModel)]="member.id" class="form-control">
           </td>
 
           <!-- Member Join Date -->
           <td *ngIf="!member.editMode">{{ member.joiningDate }}</td>
           <td *ngIf="member.editMode">
             <input type="text" [(ngModel)]="member.joiningDate" class="form-control">
           </td>
 
           <!-- Member Expire Date -->
           <td *ngIf="!member.editMode">{{ member.expireDate }}</td>
           <td *ngIf="member.editMode">
             <input type="text" [(ngModel)]="member.expireDate" class="form-control">
           </td>
          <td>
            <button *ngIf="!member.editMode" (click)="editMember(member)" style="margin-right: 5px; background-color: lightblue; color: white; border-color: transparent;">
              <i class="fa fa-pen-to-square"></i>
            </button>
            <button *ngIf="member.editMode" (click)="saveMember(member)" style="margin-right: 5px; background-color: lightgreen; color: white; border-color: transparent;">
              <i class="fa fa-check"></i>
            </button>
            <button *ngIf="member.editMode" (click)="cancelEdit(member)" style="margin-right: 5px; background-color: gold; color: white; border-color: transparent;">
              <i class="fa fa-times"></i>
            </button>
            <button (click)="deleteMember(member)" style="margin-right: 5px; background-color: lightcoral; color: white; border-color: transparent;">
              <i class="fa fa-trash-can" aria-hidden="true"></i>
            </button>
          </td>
          <td [ngStyle]="{color: member.status === 'Active' ? 'green' : member.status === 'Inactive' ? 'red' : 'gold'}">
            {{ member.status }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>