<div class="container-fluid">
  <div class="row">
    <div class="header">
      <div>
        <i class="fa fa-bars bar-icon" aria-hidden="true"></i>
        <span class="header-text">Members List</span>
      </div>
      <button class="header-button">
        <i class="fa fa-plus bar_icon" aria-hidden="true"></i>
        Add Member
      </button>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>