.header {
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-text {
	font-size: 25px;
	margin-left: 20px;
}

.bg-gray {
	background-color: lightgray;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
}

.card {
	height: 250px;
	border-radius: 8px;
	color: white;
	padding: 10px;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	
	&.blue {
		background-color: #2298F1;
	}
	
	&.green {
		background-color: #66B92E;
	}
	
	&.orange {
		background-color: #DA932C;
	}
	
	&.red {
		background-color: #D65B4A;
	}
}

.stat {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 25px;
	text-transform: uppercase;
	height: 33%;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	padding: 10px 10px 0;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	height: 33%;
}

.value {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;
	height: 33%;
}

.charts {
	height: calc(70vh - 50px - 80px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-members-chart {
	display: flex;
	justify-content: center;
	align-items: center;
}
.revenue-chart {
	display: flex;
	justify-content: center;
	align-items: center;
}