.header {
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-text {
	font-size: 25px;
	margin-left: 20px;
}

.bg-gray {
	background-color: rgb(245, 237, 237);
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
}

.charts {
	height: calc(70vh - 50px - 60px);
	width: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.attendance-report-chart {
	display: inline-block;
	margin-right: 30px;
}

.total-reports-chart {
	display: inline-block;
}

.center-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-style {
	transition: all .4s;
	box-shadow: 1px 2px 5px #999;
}

.card-style:hover {
	transform: translateY(-1px);
	box-shadow: 2px 3px 5px #999;
}

.card-body {
	flex: 1 1 auto;
	padding: 1.25rem;
}

.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
}

.card-footer {
	padding: .75rem 1.25rem;
	background-color: rgba(0,0,0,.03);
	border-top: 1px solid rgba(0,0,0,.125);
}

.card-footer:last-child {
	border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}