<div class="container-fluid">

  <div class="row">
    <div class="header">
      <div>
        <i class="fa fa-user bar-icon" aria-hidden="true"></i>
        <span class="header-text">Add Member</span>
      </div>
      <button class="header-button" routerLink="/members-list">
        <i class="fa fa-bars bar_icon" aria-hidden="true"></i>
        Members List
      </button>
    </div>
  </div>

  <div class="row">
    <div class="system-setttings">
      <div class="section-title">
        <span>Personal Information</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Member Id</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [disabled]="true">
        </div>
        <div class="field">
          <div class="field-title">
            <span>First Name</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.first_name">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Middle Name</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.middle_name">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Last Name</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.last_name">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Gender</span>
          </div>
          <select class="input-field" aria-label="Default select example" [(ngModel)]="newMember.gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="field">
          <div class="field-title">
            <span>Date of Birth</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.dob">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Group</span>
          </div>
          <select class="input-field" aria-label="Default select example" [(ngModel)]="newMember.group">
            <option value="Bodybuilding">Bodybuilding</option>
            <option value="Aerobics">Aerobics</option>
            <option value="Yoga">Yoga</option>
            <option value="Pilates">Pilates</option>
            <option value="Boxing">Boxing</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="contact-information">
      <div class="section-title">
        <span>Contact Information</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Address</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.address">
        </div>
        <div class="field">
          <div class="field-title">
            <span>City</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.city">
        </div>
        <div class="field">
          <div class="field-title">
            <span>State</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.state">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Zip Code</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.zip_code">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Mobile Number</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.mobile_number">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Phone</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.phone">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Email</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.email">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="physical-information">
      <div class="section-title">
        <span>Physical Information</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Weight</span>
          </div>
          <input class="input-field" type="text" [(ngModel)]="newMember.weight">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Height</span>
          </div>
          <input class="input-field" type="text" [(ngModel)]="newMember.height">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Chest</span>
          </div>
          <input class="input-field" type="text" [(ngModel)]="newMember.chest">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Waist</span>
          </div>
          <input class="input-field" type="text" [(ngModel)]="newMember.waist">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Thighs</span>
          </div>
          <input class="input-field" type="text" [(ngModel)]="newMember.thighs">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Arms</span>
          </div>
          <input class="input-field" type="text" [(ngModel)]="newMember.arms">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Fat</span>
          </div>
          <input class="input-field" type="text" [(ngModel)]="newMember.fat">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="login-information">
      <div class="section-title">
        <span>Login Information</span>
      </div>
      <div class="form">
        <div class="field">
          <div class="field-title">
            <span>Username</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="text" name="" id="" [(ngModel)]="newMember.username">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Password</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
          <input class="input-field" type="password" name="" id="" [(ngModel)]="newMember.password">
        </div>
        <div class="field">
          <div class="field-title">
            <span>Display Image</span>
          </div>
          <input class="input-field" type="file" id="formFile" [(ngModel)]="newMember.display_image">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="more-information">
      <div class="section-title">
        <span>More Information</span>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Select Staff Member</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <select class="form-input-field" aria-label="Default select example">
            <option [ngValue]="null" disabled selected>Select Staff</option>
            <option [ngValue]="'Joseph Bratt'">Joseph Bratt</option>
            <option [ngValue]="'John Doe'">John Doe</option>
            <option [ngValue]="'Berry Green'">Berry Green</option>
            <option [ngValue]="'Sara Safari'">Sara Safari</option>
            <option [ngValue]="'Noel Leyva'">Noel Leyva</option>
          </select>
        </div>
        <div class="form-button">
          <button class="btn button" routerLink="/add-staff">Add staff</button>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Select Interested Area</span>
          </div>
        </div>
        <div class="form-input">
          <select class="form-input-field" aria-label="Default select example" [(ngModel)]="newMember.interested_area">
            <option [ngValue]="null" disabled selected>Select Interest</option>
            <option [ngValue]="'Bodybuilding'">Bodybuilding</option>
            <option [ngValue]="'Aerobics'">Aerobics</option>
            <option [ngValue]="'Yoga'">Yoga</option>
            <option [ngValue]="'Pilates'">Pilates</option>
            <option [ngValue]="'Boxing'">Boxing</option>
          </select>
        </div>
        <div class="form-button">
          <button class="btn button">Add/Remove</button>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Select Source</span>
          </div>
        </div>
        <div class="form-input">
          <select class="form-input-field" aria-label="Default select example">
            <option [ngValue]="null" disabled selected>Select Source</option>
            <option value="1">*</option>
            <option value="2">*</option>
          </select>
        </div>
        <div class="form-button">
          <button class="btn button">Add/Remove</button>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Referred By</span>
          </div>
        </div>
        <div class="form-input">
          <select class="form-input-field" aria-label="Default select example" [(ngModel)]="newMember.referred_by">
            <option [ngValue]="null" disabled selected>Select Staff Member</option>
            <option [ngValue]="'Joseph Bratt'">Joseph Bratt</option>
            <option [ngValue]="'John Doe'">John Doe</option>
            <option [ngValue]="'Berry Green'">Berry Green</option>
            <option [ngValue]="'Sara Safari'">Sara Safari</option>
            <option [ngValue]="'Noel Leyva'">Noel Leyva</option>
          </select>
        </div>
        <div class="form-button">
          <button class="btn button" routerLink="/add-staff">Add Staff</button>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Inquiry Date</span>
          </div>
        </div>
        <div class="form-input">
          <input class="form-input-field" type="text" name="" id="" [(ngModel)]="newMember.inquiry_date">
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Trial End Date</span>
          </div>
        </div>
        <div class="form-input">
          <input class="form-input-field" type="text" name="" id="" [(ngModel)]="newMember.trial_end_date">
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Member Type</span>
          </div>
        </div>
        <div class="form-input-radio">
          <input type="radio" name="memberType" id="member" [(ngModel)]="newMember.member_type" value="Member">
          <label class="form-check-label" for="member">Member</label>
      
          <input type="radio" name="memberType" id="prospect" [(ngModel)]="newMember.member_type" value="Prospect">
          <label class="form-check-label" for="prospect">Prospect</label>
      
          <input type="radio" name="memberType" id="dropped" [(ngModel)]="newMember.member_type" value="Dropped">
          <label class="form-check-label" for="dropped">Dropped</label>
        </div>
      </div>      
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <select class="form-input-field" aria-label="Default select example" [(ngModel)]="newMember.membership_type">
            <option selected>Select Membership</option>
            <option value="1">*</option>
            <option value="2">*</option>
          </select>
        </div>
        <div class="form-button">
          <button class="btn button" (click)="onAddMembership()">Add Membership</button>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Class</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input">
          <select class="form-input-field" aria-label="Default select example" [(ngModel)]="newMember.class_choice">
            <option selected>Select Class</option>
            <option value="1">*</option>
            <option value="2">*</option>
          </select>
        </div>
        <div class="form-button">
          <button class="btn button">Add Class</button>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>Membership Status</span><span style="color: red; margin-left: 4px;">*</span>
          </div>
        </div>
        <div class="form-input-radio">
          <input class="" type="radio" name="membershipStatus" id="active" value="Active"
            [(ngModel)]="newMember.membership_status">
          <label class="form-check-label" for="prospectRatio">Active</label>
          <input class="" type="radio" name="membershipStatus" id="inactive" value="Inactive"
            [(ngModel)]="newMember.membership_status">
          <label class="form-check-label" for="continueRatio">Inactive</label>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-3 form-title">
          <div class="">
            <span>First Payment Date</span>
          </div>
        </div>
        <div class="form-input">
          <input class="form-input-field" type="text" name="" id="" [(ngModel)]="newMember.first_payment_date">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="measurement-units">
      <div class="footer">
        <button class="footer-button" (click)="onSave()">Save Settings</button>
        <button class="footer-button" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
  
</div>

